## tourch serise should be installed before pip installation.
# torch 
# torchaudio
# torchcodec
conformer
# deepspeed; sys_platform == 'linux'
diffusers >= 0.26.0
# fastapi
# fastapi-cli
# gradio is needed for ./webui.py. activate if you need to setup gradio application.
# gradio
# gdown
# grpcio
# grpcio-tools
# hydra-core
HyperPyYAML
inflect
# librosa
# lightning
matplotlib
# modelscope
huggingface_hub # replaced to huggingface_hub
# networkx
numpy
omegaconf
onnx
# onnxruntime-gpu; sys_platform == 'linux' or sys_platform == 'win32'
onnxruntime-gpu; sys_platform == 'linux' # use wsl if you want to proceed
# onnxruntime; sys_platform == 'darwin' # currently, fixed in linux for tensorRT support.
openai-whisper
# protobuf
pyarrow
# pydantic
pyworld
# rich
soundfile
# tensorboard
tensorrt
transformers
accelerate >= 1.10.0
x-transformers >= 2.9.0
# uvicorn
# wetext
# wget
vllm >= 0.13.0
matcha-tts >= 0.0.7.2