## development enviroment setting
# > apt-get update && apt-get install -y git espeak-ng ffmpeg nvidia-cuda-toolkit
#
## Install pytorch FIRST !!!
# torch serize installation : https://pytorch.org/get-started/previous-versions
# find the CUDA 11.3, which is : 
# pip install torch==1.12.1+cu113 torchaudio==0.12.1 --extra-index-url https://download.pytorch.org/whl/cu113
# (2026/01)
#
# torch 
# torchaudio
conformer
deepspeed; sys_platform == 'linux'
diffusers
# fastapi
# fastapi-cli
# gradio is needed for ./webui.py. activate if you need to setup gradio application.
# gradio
# gdown
# grpcio
# grpcio-tools
# hydra-core
HyperPyYAML
inflect
# librosa
# lightning
matplotlib
# modelscope
huggingface_hub # replaced to huggingface_hub
# networkx
numpy
omegaconf
onnx
# onnxruntime-gpu; sys_platform == 'linux' or sys_platform == 'win32'
onnxruntime-gpu; sys_platform == 'linux' # use wsl if you want to proceed
# onnxruntime; sys_platform == 'darwin' # currently, fixed in linux for tensorRT support.
openai-whisper
# protobuf
pyarrow
# pydantic
pyworld
# rich
soundfile
# tensorboard
tensorrt-cu12; sys_platform == 'linux'
tensorrt-cu12-bindings; sys_platform == 'linux'
tensorrt-cu12-libs; sys_platform == 'linux'
transformers
accelerate
x-transformers
# uvicorn
# wetext
# wget
vllm
matcha-tts
ttsfrd